body {
  background-color: #2a2a2a;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(181, 181, 181) */
}
h1 {
  font-family: sans-serif;
  color: #dae2df;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
ul {
  padding: 0;
}
/* LIST ITEM */
li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 300px;
  padding: 5px;
  margin: 7px;
  transition-duration: 0.5s;
  border-radius: 10px;
}
li:hover {
  background-color: #333333;
  box-shadow: 0 0 10px #7d9d6b;
  /* width: 320px; */
  /* scale: 1.05; */
  transition: 0.2s;
}
.note-text {
  font-size: 25px;
  /* margin: 5px; */
  cursor: pointer;
  width: 90%;
  /* height: 100%; */
  display: flex;
  word-break: break-all;
  user-select: none;
  color: #dae2df;

  /* transition-duration: 0.5s; */
}
.note-text-done {
  color: red;
}
.done {
  background-color: #2a2a2a;
  /* border: 1px solid #232323; */
  box-shadow: 0 0 5px #222222;
}
.done div {
  color: rgb(29, 29, 29);
  text-decoration: line-through;
  transition-duration: 1s;
}
.unDone {
  background-color: #333333;
}
.btn {
  height: 20px;
  width: 20px;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  opacity: 5%;
  /* background-color: rgb(117, 117, 117); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  background-image: url(../x.png);
  background-position: center;
  background-size: cover;
  transition-duration: 0.4s;
  position: absolute;
  right: 5px;
  font-size: 30px;
  border-radius: 50%;
}
.btn:hover {
  background-color: #c52233;
  opacity: 80%;
}
/* FORM */
#formAddContainer {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  background-color: #2a2a2a;
  transition: ease opacity 0.3s;
}

#formAddContainer form {
  display: flex;
  flex-direction: column;
}
#formAddContainer form input {
  display: flex;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-bottom: 25px;
  border: none;
  word-break: break-all;
  border-radius: 10px;
  font-size: 30px;
}
#formAddContainer form button {
  background-color: gray;
  border: none;
  width: 100px;
  height: 50px;
  margin: auto;
  opacity: 100%;
  transition-duration: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}
#formAddContainer form button:hover {
  background-color: #7d9d6b;

  scale: 1.1;
}
#formCloseBtn {
  width: 40px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #dae2df;
  display: flex;
  opacity: 80%;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: 1px solid rgb(83, 83, 83);
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 50%;
  transition-duration: 0.1s;
  /* color: rgb(54, 54, 54); */
  cursor: pointer;
}
#formCloseBtn:hover {
  opacity: 90%;
  scale: 1.2;
  background-color: rgb(255, 99, 99);
  /* box-shadow: 0 0 10px rgb(255, 99, 99); */
}
#formTrigger {
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  transition-duration: 0.2s;
  color: #dae2df;
  cursor: pointer;
}
#formTrigger:hover {
  background-color: #7d9d6b;
  scale: 1.2;
}
/* -------------------------------- */

/* Paleta de colores */
/* --jet: #333333ff;
--cardinal: #c52233ff;
--hunyadi-yellow: #f6ae2dff;
--blue-munsell: #048ba8ff; */
