body{
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}
header{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 181, 181)
}
h1{
    font-family: sans-serif;
    color: rgb(214, 214, 214);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
ul{
    padding: 0;
}
li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
li:hover{
    background-color: rgba(211, 211, 211, 0.638);
    box-shadow: 3px 2px rgba(123, 247, 119, 0.918);
}
li p {
    font-size: 35px;
    margin: 5px;
    cursor: pointer;
}
li div{
    font-size: 30px;
    border-radius: 25%;
}
/* li div:hover{
    background-color: rgb(67, 12, 12);
} */

/* .end{
    background-color: red;
    text-decoration: line-through;

} */
.done{
    background-color: rgb(34, 34, 34);
    text-decoration: line-through;
    border: 1px solid rgb(36, 36, 36);
}
.unDone{
    background-color: rgba(112, 112, 112, 0.658);
    border: 1px solid grey;
}
.btn{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    opacity: 25%;
    background-color: rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center ;    
    font-size: 15px; 
    cursor: pointer;
    background-image: url(../x.png);
    background-position: center;
    background-size: cover;   
}
.btn:hover{
    background-color: rgb(223, 87, 87);
    opacity: 100%;
}